/* #region Common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --rl-primary: #9792e4;
    --rl-secondary: #0084fd;
    --rl-demo: #b5ddff;
    --rl-lighter: #fff;
    --rl-banner: #fdc15f;
    --rl-dark: #333333;
    --rl-darker: #000;
    --rl-grey: #515151;
}

body {
    font-family: 'PT Sans', sans-serif;
}

/* #endregion Common */

/* #region Utilities */
/*** utility col ***/
.col_1 {
    width: calc(100% / 12);
}

.col_2 {
    width: calc(100% / 12 * 2);
}

.col_3 {
    width: calc(100% / 12 * 3);
}

.col_4 {
    width: calc(100% / 12 * 4);
}

.col_5 {
    width: calc(100% / 12 * 5);
}

.col_6 {
    width: calc(100% / 12 * 6);
}

.col_7 {
    width: calc(100% / 12 * 7);
}

.col_8 {
    width: calc(100% / 12 * 8);
}

.col_9 {
    width: calc(100% / 12 * 9);
}

.col_10 {
    width: calc(100% / 12 * 10);
}

.col_11 {
    width: calc(100% / 12 * 11);
}

.col_12 {
    width: 100%;
}

/*** utility col ***/

.container {
    width: 81%;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
}

[class^="col_"] {
    padding: 0.5rem 0.5rem;
}

h3 {
    font-size: 1.7rem;
    padding-bottom: 2rem;
}

h4 {
    font-size: 1.2rem;
    font-weight: 600;
    padding-bottom: 1.5rem;
}

.nav_list a {
    color: var(--rl-lighter);
    text-decoration: none;
}

a.white-btn {
    color: var(--rl-darker);
    background-color: var(--rl-lighter);
    padding: 0.3rem 0.6rem;
    border-radius: 1rem;
    text-decoration: none;
    display: inline-block;
}

a.sec-btn {
    color: var(--rl-lighter);
    letter-spacing: 0.2rem;
    background-color: var(--rl-secondary);
    padding: 0.3rem 1.2rem;
    border-radius: 1rem;
    text-decoration: none;
    margin: 1.5rem 0;
    display: inline-block;
}

a.primary-btn {
    background-color: var(--rl-primary);
    color: white;
    font-weight: bold;
    padding: 0.5rem 2.2rem;
    border-radius: 2rem;
    font-size: 0.9rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
    margin: 1.5rem 0 1rem 0;
    text-decoration: none;
    display: inline-block;
}

#planning,
#testimonials .testimonial,
#benefits,
#call_to_action {
    background-color: var(--rl-primary);
}

.demo, 
#planning,
#testimonials {
    padding: 2rem 0 3rem 0;
}

/* #endregion Utilities */

/* #region Header */
#site_header {
    background-color: var(--rl-secondary);
}

nav {
    justify-content: space-between;
    padding: 0.7rem 0;
}

.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu i {
    font-size: 1.5rem;
    color: var(--rl-lighter);
}

.nav_list {
    display: none;
}
/* #endregion Header */

/* #region Main */
.demo .card {
    border-radius: 1rem;
    background-color: var(--rl-demo);
    color: var(--rl-dark);
    padding: 1.5rem;
    text-align: center;
}

.demo .card .card-left {
    text-align: left;
}

.demo h4 {
    color: var(--rl-secondary);
}

.demo p {
    font-size: 0.9rem;
    line-height: 1.2rem;
}

.card-right {
    margin: 0 auto;
    justify-content: center;
}

.card-right img {
    max-width: 80%;
    margin-bottom: -1.5rem;
}

.card .icon {
    font-size: 5rem;
    color: var(--rl-secondary);
    padding-bottom: 1rem;
}
/* /.demo */

#planning h3 {
    padding-top: 1.5rem;
}
#planning img {
    width: 100%;
    padding-bottom: 2rem;
}

#planning .col_12:first-child {
    color: var(--rl-lighter);
    padding: 2rem 2rem;
}

#strategic p {
    line-height: 1.5rem;
    font-size: 0.9rem;
}

#planning .plan-card {
    background-color: var(--rl-lighter);
    border-radius: 2rem;
    padding: 1.5rem;
    text-align: center;
}


#planning .plan-card p {
    font-style: italic;
    padding-bottom: 2rem;
    line-height: 2rem;
}

#planning i {
    background-color: var(--rl-primary);
    padding: 1rem 1.2rem;
    border-radius: 50%;
}
/* /#planning */

#testimonials {
    padding-bottom: 5rem; 
}
#testimonials .container {
    text-align: center;
}

#testimonials .section_header {
    padding: 2rem 0;
}

#testimonials .testimonial {
    margin: 1rem 0;
    border-radius: 3rem;
    color: var(--rl-dark);
    padding: 1.5rem;
    text-align: center;
}

#testimonials h3,
#about h3 {
    color: var(--rl-primary);
}

#testimonials .section_header {
    color: var(--rl-dark);
    font-size: 1rem;
}

.testimonial .avatar {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 70%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    overflow: hidden;
}

.testimonial .avatar img {
    height: 100%;
}

.testimonial .bio i {
    font-size: 1.5rem;
}

.testimonial .bio {
    font-size: 1rem;
    color: var(--rl-lighter);
    padding: 1rem 0 0.7rem 0;
}

#testimonials .bio span.name {
    font-size: 1.2rem;
    color: var(--rl-lighter);
    display: block;
    padding-top: 2rem;
}
/* /#testimonials */

#benefits,
#about,
#site_footer {
    padding: 2.5rem 0;
}

#benefits h3 {
    text-align: center;
    color: var(--rl-lighter);
}

#benefits .card {
    background-color: var(--rl-lighter);
    border-radius: 1rem;
    padding: 1.5rem;
    margin-top: 1.5rem;
    color: var(--rl-primary);
}

#benefits .card .number {
    display: block;
    font-size: 2.5rem;
    font-weight: bold;
    padding-bottom: 1.5rem;
}

#benefits .card p {
    color: var(--rl-grey);
    font-size: 0.9rem;
    line-height: 1.5rem;
}
/* /#benefits */

#about h2 {
    color: var(--rl-primary);
    font-size: 2.5rem;
    padding-bottom: 2rem;
}

#about p {
    color: var(--rl-dark);
    font-size: 0.9rem;
    line-height: 1.9rem;
    padding-bottom: 2.5rem;
}

#about .img-container {
    position: relative;
}

#about img {
    width: 60%;
    border-radius: 50%;
}

#about .img-container i {
    color: var(--rl-primary);
    font-size: 3.5rem;
    position: absolute;
    top: 0;
    right: 35%;
}

#about span.quotation {
    color: var(--rl-primary);
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 2rem;
    display: block;
    padding: 1.5rem 0 2rem 0;
}

#about a.primary-btn {
    font-weight: normal;
    letter-spacing: normal;
    padding: 0.5rem 1.2rem;
}
/* /#about */

#call_to_action {
    padding: 3rem 0 4rem 0;
    text-align: center;
    color: var(--rl-lighter);
}

#call_to_action .start {
    color: rgba(255, 255, 255, 0.637);
    letter-spacing: 0.2rem;
}

#call_to_action h3 {
    padding-top: 1rem;
}

#call_to_action h2 {
    font-size: 3rem;
    color: var(--rl-banner);
    padding-bottom: 1.5rem;
}

#call_to_action p {
    font-size: 0.8rem;
}

#call_to_action .white-btn {
    font-size: 0.8rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
    color: var(--rl-primary);
    margin: 1.5rem 0;
    padding: 1rem 3rem;
    border-radius: 2rem;
}

#call_to_action .copyright {
    display: block;
    font-size: 0.7rem;
}

#call_to_action a.privacy {
    color: var(--rl-lighter);
}
/*endregion Main */

/* #region Footer */
#site_footer {
    background-color: var(--rl-dark);
    color: var(--rl-lighter);
    font-size: 0.75rem;
    text-align: center;
}

.footer_top {
    margin-bottom: 4rem;
}

.footer_bottom a {
    color: var(--rl-primary);
}

/* #endregion Footer */





/***** #region Media Queries *****/
@media screen and (min-width: 768px) {
    .container {
        width: 90%;
    }

    .col_md_1 {
        width: calc(100% / 12);
    }

    .col_md_2 {
        width: calc(100% / 12 * 2);
    }

    .col_md_3 {
        width: calc(100% / 12 * 3);
    }

    .col_md_4 {
        width: calc(100% / 12 * 4);
    }

    .col_md_5 {
        width: calc(100% / 12 * 5);
    }

    .col_md_6 {
        width: calc(100% / 12 * 6);
    }

    .col_md_7 {
        width: calc(100% / 12 * 7);
    }

    .col_md_8 {
        width: calc(100% / 12 *8);
    }

    .col_md_9 {
        width: calc(100% / 12 * 9);
    }

    .col_md_10 {
        width: calc(100% / 12 * 10);
    }

    .col_md_11 {
        width: calc(100% / 12 * 11);
    }

    .col_md_12 {
        width: calc(100% / 12 * 12);
    }

    a.sec-btn {
        padding: 0.5rem 1.7rem;
        border-radius: 1rem;
        text-decoration: none;
        margin: 1.5rem 0;
        font-size: 0.8rem;
        font-weight: bold;
    }
    /* /utilities */

    #site_header .logo img {
        max-width: 85%;
    }

    .menu i {
        font-size: 1.2rem;
    }
    /* /header */
    .demo {
        padding: 2rem 0 4rem 0;
    }

    .demo .card {
        height: 100%;
    }

    .demo .card-right {
        justify-content: flex-start;
    }

    .demo .card-right img {
        max-width: 40%;
    }

    /* /demo */

    #planning h3 {
        font-size: 4rem;
        padding: 3.5rem 0;
    }
    /* /planning */

    #testimonials .testimonial {
        display: flex;
        padding: 1.5rem;
    }

    #testimonials .testimonial .avatar {
        width: 40%;
    }

    .testimonial .bio {
        align-self: center;
        font-size: 1rem;
        text-align: left;
        padding: 0 4rem 0 3rem;
    }

    #testimonials .bio span.name {
        font-size: 1rem;
        color: var(--rl-lighter);
        font-weight: bold;
        display: block;
        padding-top: 1.5rem;
    }
    /* /testimonials */

    #benefits .card {
        margin-top: 0;
    }
    #about .container {
        width: 83%;
    }

    #about #left {
        padding-right: 6rem;
    }

    #about h2 {
        font-size: 3rem;
    }

    #about p {
        margin-bottom: 2rem;
    }

    #about .img-container i {
        right: 5%;
    }

    #about img {
        width: 90%;
    }
    /* /#about */
    
    #call_to_action h3 {
        font-size: 2rem;
    }

    #call_to_action h2 {
        font-size: 4rem;
    }

    #call_to_action p {
        width: 55%;
        margin: 0 auto;
    }
    /* /#call_to_action */

    #site_footer .container {
        width: 40%;
    }
}





@media screen and (min-width: 1200px) {

    .container {
        max-width: 1152px;
        width: 60%;
    }

    .col_lg_1 {
        width: calc(100% / 12);
    }

    .col_lg_2 {
        width: calc(100% / 12 * 2);
    }

    .col_lg_3 {
        width: calc(100% / 12 * 3);
    }

    .col_lg_4 {
        width: calc(100% / 12 * 4);
    }

    .col_lg_5 {
        width: calc(100% / 12 * 5);
    }

    .col_lg_6 {
        width: calc(100% / 12 * 6);
    }

    .col_lg_7 {
        width: calc(100% / 12 * 7);
    }

    .col_lg_8 {
        width: calc(100% / 12 * 8);
    }

    .col_lg_9 {
        width: calc(100% / 12 * 9);
    }

    .col_lg_10 {
        width: calc(100% / 12 * 10);
    }

    .col_lg_11 {
        width: calc(100% / 12 * 11);
    }

    .col_lg_12 {
        width: calc(100% / 12 * 12);
    }
    /* /utilities */
    .menu i {
        display: none;
    }

    .nav_list {
        display: inline-block;
        list-style: none;
        display: flex;
        align-items: center;
    }

    .nav_list li {
        padding-left: 1rem;
        font-weight: 300;
        font-size: 0.8rem;
    }
    /* /header */
    .demo #first_card .card {
        display: flex;
        padding-bottom: 0 !important;
    }

    .card-left , .card-right {
        width: 50%;
    }

    .demo .card-right {
        justify-content: center;
        align-items: flex-end;
        margin: 0 auto;
    }

    .demo .card-right img {
        max-width: 80%;
        object-fit: contain;
        margin-bottom: 0;
    } 

    /* /.demo */
    #planning .container {
        width: 50%;
        padding-top: 3rem;
    }

    #planning h3 {
        font-size: 1.7rem;
    }

    #planning #strategic {
        padding-bottom: 0;
        padding-left: 2;
    }

    #planning #developement {
        padding-left: 2rem;
        display: flex;
        align-items: flex-end;
    }

    #planning .plan-card img {
        width: 75%;
    }

    #planning .plan-card p {
        line-height: 1.2rem;
        font-size: 0.8rem;
    }

    #planning i {
        background-color: var(--rl-primary);
        padding: 0.5rem 0.7rem;
        border-radius: 50%;
        font-size: 1rem;
    }
    /* /planning */
    #testimonials .testimonial .avatar {
        width: 40%;
    }
    /* /#testimonials */

    #about .container {
        width: 55%;
    }
    /* /#about */

    #call_to_action .container {
        width: 40%;
    }
    /* /#call_to_action */
    #site_footer .container {
        width: 30%;
    }
}
/***** #endregion Media Queries *****/