/* #region Common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --rl-primary: #9792e4;
    --rl-secondary: #0084fd;
    --rl-demo: #b5ddff;
    --rl-lighter: #fff;
    --rl-banner: #fdc15f;
    --rl-dark: #333333;
    --rl-darker: #000;
}

body {
    font-family: 'PT Sans', sans-serif;
}

/* #endregion Common */

/* #region Utilities */
.container {
    width: 85%;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col_12 {
    width: 100%;
}

h3 {
    font-size: 1.7rem;
    padding-bottom: 2rem;
}

h4 {
    font-size: 1.2rem;
    font-weight: 600;
    padding-bottom: 1.5rem;
}

a {
    display: inline-block;
}

.nav_list a {
    text-decoration: none;
    color: var(--rl-lighter);
}

a.white-btn {
    color: var(--rl-darker);
    background-color: var(--rl-lighter);
    padding: 0.3rem 0.6rem;
    border-radius: 1rem;
}

a.sec-btn {
    color: var(--rl-lighter);
    letter-spacing: 0.2rem;
    background-color: var(--rl-secondary);
    padding: 0.3rem 1.2rem;
    border-radius: 1rem;
    text-decoration: none;
    margin: 1.5rem 0;
    font-size: 0.8rem;
    font-weight: bold;
}

#planning,
#testimonials .testimonial,
#benefits,
#call_to_action {
    background-color: var(--rl-primary);
}

.demo, 
#planning,
#testimonials {
    padding: 2rem 0 3rem 0;
}

/* #endregion Utilities */

/* #region Debug */
.debug #testimonials .section_header,
.debug #benefits .col_12,
.debug #about .col_12:last-child {
    height: 280px;
}

/*  .debug [class^="col_"],
.debug #call_to_action .call_header {
    border: 1px dashed black;
} */

.debug #planning .col_12 {
    height: 500px;
}

.debug #testimonials .testimonial,
.debug #call_to_action .call_body  {
    height: 350px;
    border: 1px dashed black;
}

.debug #about .col_12:first-child {
    height: 900px;
}

.debug #call_to_action .call_header {
    height: 150px;
}
/* #endregion Debug */

/* #region Header */
#site_header {
    background-color: var(--rl-secondary);
}

nav {
    justify-content: space-between;
    padding: 0.7rem 0;
}

.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu i {
    font-size: 1.5rem;
    color: var(--rl-lighter);
}

.nav_list {
    display: none;
}
/* #endregion Header */

/* #region Main */
.demo [class^="col_"] {
    background-color: var(--rl-demo);
    margin-bottom: 0.75rem;
    border-radius: 1rem;
}
.demo .card {
    color: var(--rl-dark);
    padding: 1.5rem;
    text-align: center;
}

.demo .card .card-left {
    text-align: left;
}

.demo h4 {
    color: var(--rl-secondary);
}

.demo p {
    font-size: 0.75rem;
    line-height: 1.2rem;
}

.card-right {
    margin: 0 auto;
    justify-content: center;
}

.card-right img {
    width: 80%;
    margin-bottom: -1.5rem;
}

.card .icon {
    font-size: 5rem;
    color: var(--rl-secondary);
    padding-bottom: 1rem;
}

/* /.demo */
#testimonials .testimonial {
    margin: 1rem 0;
}

#benefits,
#about,
#site_footer {
    padding: 2rem 0;
}

#benefits .col_12 {
    margin-bottom: 0.75rem;
    background-color: var(--rl-lighter);
}

#call_to_action {
    padding: 3rem 0 4rem 0;
}
/*endregion Main */

/* #region Footer */
#site_footer {
    background-color: var(--rl-dark);
}

.footer_top {
    margin-bottom: 4rem;
}

/* #endregion Footer */

/* #region Media Queries */
@media screen and (min-width: 768px) {
    /* debug */
    .debug #call_to_action .call_body {
        height: 400px;
    }

    .debug #planning .col_12,
    .debug #about .row .col_md_3,
    .debug #about .row .col_md_9 {
        height: 800px;
    }

    .debug #testimonials .testimonial,
    .debug #testimonials .section_header {
        height: 175px;
    }

    .debug #call_to_action .call_header {
        height: 150px;
    }
    /* /debug */

    .col_md_3 {
        width: calc(100% / 12 * 3);
    }

    .col_md_4 {
        width: calc(100% / 12 * 4);
        
    }

    .col_md_6 {
        width: calc(100% / 12 * 6);
    }


    .col_md_8 {
        width: calc(100% / 12 *8);
    }

    .col_md_9 {
        width: calc(100% / 12 * 9);
    }

    a.sec-btn {
        padding: 0.5rem 1.7rem;
        border-radius: 1rem;
        text-decoration: none;
        margin: 1.5rem 0;
        font-size: 0.8rem;
        font-weight: bold;
    }
    /* /utilities */

    #site_header .logo img {
        width: 85%;
    }

    .menu i {
        font-size: 1.2rem;
    }
    /* /header */
    .demo {
        padding: 2rem 0 4rem 0;
    }

    .demo .row {
        margin: 0 -1rem;
    }
    /***** TODO *****/
    .demo .card {
        margin: 0 0.5rem;
    }

    .demo .card-right {
        justify-content: flex-start;
    }

    .demo .card-right img {
        width: 40%;
    }

    /* /demo */
    #call_to_action .container {
        width: 75%;
    }

    #site_footer .container {
        width: 50%;
    }
}



@media screen and (min-width: 1200px) {
    /* debug */

    .debug #planning .col_lg_6 {
        height: 600px;
    }

    .debug #about [class^="col_"] {
        height: 550px;
    }
    /* /debug */

    .container {
        max-width: 1152px;
        width: 60%;
    }

    .col_lg_4 {
        width: calc(100% / 12 * 4);
    }

    .col_lg_6 {
        width: calc(100% / 12 * 6);
    }

    .col_lg_8 {
        width: calc(100% / 12 * 8);
    }
    /* /utilities */
    .menu i {
        display: none;
    }

    .nav_list {
        display: inline-block;
        list-style: none;
        display: flex;
    }

    .nav_list li {
        padding-left: 1rem;
        font-weight: 300;
        font-size: 0.8rem;
    }
    /* /header */
    .demo .col_md_8 .card {
        display: flex;
    }
    .card-left , .card-right {
        width: 50%;
    }
    .demo .card-right {
        justify-content: center;
        margin: 0 auto;
    }
    .demo .card-right img {
        width: 70%;
    }

    #call_to_action .container,
    #site_footer .container {
        width: 40%;
    }
}
/* #endregion Media Queries */