/* #region Common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --rl-primary: #9792e4;
    --rl-secondary: #0084fd;
    --rl-demo: #b5ddff;
    --rl-lighter: #fff;
    --rl-banner: #fdc15f;
    --rl-dark: #333333;
}

body {
    font-family: 'PT Sans', sans-serif;
}

/* #endregion Common */

/* #region Utilities */
.container {
    width: 90%;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col_12 {
    width: 100%;
}

h2 {
    font-size: 1.7rem;
    padding-bottom: 2rem;
}

#planning,
#testimonials .testimonial,
#benefits {
    background-color: var(--rl-primary);
}

/* #endregion Utilities */

/* #region Debug */
.debug .container {
    border: 1px dashed black;
}
.debug .logo,
.debug .menu {
    background-color: #fdc15f;
    width: 20%;
    height: 50px;
}

.debug .demo .col_12:first-child {
    height: 400px;
}

.debug .demo .col_12,
.debug #testimonials .section_heading,
.debug #benefits .col_12 {
    height: 280px;
}

.debug [class^="col_"] {
    border: 1px dashed black;
}

.debug #planning .col_12 {
    height: 500px;
}

.debug #testimonials .testimonial {
    height: 350px;
    border: 1px dashed black;
}
/* #endregion Debug */

/* #region Header */
#site_header {
    background-color: var(--rl-secondary);
}

nav {
    justify-content: space-between;
}
/* #endregion Header */

/* #region Main */
.demo, 
#planning,
#testimonials {
    padding: 2rem 0 3rem 0;
}
.demo [class^="col_"] {
    background-color: var(--rl-demo);
    margin-bottom: 0.75rem;
}

#testimonials .testimonial {
    margin: 1rem 0;
}

#benefits {
    padding: 2rem 0;
}

#benefits .col_12 {
    margin-bottom: 0.75rem;
    background-color: var(--rl-lighter);
}
/*endregion Main */

/* #region Footer */

/* #endregion Footer */

/* #region Media Queries */
@media screen and (min-width: 768px) {
    /* debug */
    .debug .demo .col_12:nth-child(2) {
        height: 400px;
    }

    .debug #planning .col_12 {
        height: 800px;
    }

    .debug #testimonials .testimonial,
    .debug #testimonials .section_heading {
        height: 175px;
    }
    /* /debug */

    .col_md_4 {
        width: calc(100% / 12 * 4);
        
    }

    .col_md_6 {
        width: calc(100% / 12 * 6);
    }


    .col_md_8 {
        width: calc(100% / 12 *8);
    }

    .demo {
        padding: 2rem 0 4rem 0;
    }
}

@media screen and (min-width: 1200px) {
    /* debug */
    .debug .demo .row [class^="col_"] {
        height: 280px;
    }

    .debug #planning .col_lg_6 {
        height: 600px;
    }
    /* /debug */

    .container {
        max-width: 1152px;
        width: 60%;
    }

    .col_lg_4 {
        width: calc(100% / 12 * 4);
    }

    .col_lg_6 {
        width: calc(100% / 12 * 6);
    }
}
/* #endregion Media Queries */